<ul style="list-style: none;">
    <li>Current Plan: {{current_plan}}</li>
    <li>Downgraded Plan: {{downgraded_plan}}</li>
    <li>Name: {{name}}</li>
    <li>Email: {{email}}</li>
    <li>First Name: {{first_name}}</li>
    <li>Last Name: {{last_name}}</li>
</ul>